#header-nav{
	background-color: gray;
	text-align: left;
	border: 2px solid black;
	border-radius: 0;
}
.style1{
	margin-top: 20px;
	background-color: gray;
	text-align:justify;
}
.style2{
	text-decoration: bold;
}

